.dust__title {
  padding: 3%;
  font-size: 40px;
  font-weight: bold;
}

#dust__forecast,
.grade {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#dust__forecast .map__img {
  display: none;
  width: 100%;
}

#dust__forecast .forecast__container {
  max-width: 730px;
}

#dust__forecast .forecast__content,
#dust__forecast .forecast__grade {
  margin: 15px;
  font-family: AppleSDGothicNeo, Noto Sans KR, sans-serif;
}

#dust__forecast .forecast__content {
  font-size: 17px;
  line-height: 18px;
}

#dust__forecast .forecast__grade {
  font-size: 15px;
  line-height: 16px;
}

#dust__forecast .forecast__play-box {
  display: flex;
}

#forecast__play-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4% 0%;
  width: 100%;
}

#forecast__play-box .play-box__progress-bar {
  position: relative;
  margin-left: 20px;
  height: 3px;
  width: 60%;
  background: rgb(226, 229, 232);
}

#forecast__play-box .progress-bar__progress {
  width: 0;
  height: 3px;
  background-color: #12cad6;
}

#forecast__play-box .progress-bar__scrubber-btn {
  position: absolute;
  top: -7px;
  left: 0;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: -2px -2px 10px silver;
}

#dust__forecast .on-block {
  display: block;
}

#dust__forecast .on-none {
  display: none;
}
